CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/components/lv_examples/CMakeLists.txt
/components/lv_examples/component.mk
/components/lv_examples/Kconfig
/components/lv_examples/lv_ex_conf.h
/components/lv_examples/lv_examples/.github/auto-comment.yml
/components/lv_examples/lv_examples/.github/stale.yml
/components/lv_examples/lv_examples/.github/workflows/deploy.yml
/components/lv_examples/lv_examples/.gitignore
/components/lv_examples/lv_examples/assets/blue_flower_32.bin
/components/lv_examples/lv_examples/assets/img_cogwheel_argb.bin
/components/lv_examples/lv_examples/assets/img_cogwheel_rgb565.bin
/components/lv_examples/lv_examples/assets/img_hand_argb.bin
/components/lv_examples/lv_examples/assets/img_hand_rgb565.bin
/components/lv_examples/lv_examples/assets/imgbtn_blue_argb.bin
/build/
